.product{
    display: flex;
    padding-top: 10px;
 
    border-bottom: 1px solid rgb(190, 155, 155);
}
.item-container{
    padding-left: 15px;
    color: rgb(8, 82, 82);
    
}
.item-container h3{
    color: blue;
}

.item-container h3 :hover{
    color: aqua;
}
.main-btn{
    background-color: darkorange;
    width: auto;
    height: 30px;
    margin-bottom: 20px;
    border: 2px solid black;
    font-size: 20px;
    color: rgb(223, 221, 230);
}