.header{
    text-align: center;
}

#logo{
    margin-top: 20px;
    height: 80px;
    text-align: center;
}
nav{
    background-color: rgb(1, 14, 14);
    padding: 10px;

}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}
nav :hover{
    background-color:gray ;
}