.shoping-container{
    display: flex;
    background-color: rgb(244, 248, 248);
}
.product-container{
    width: 70%;
    margin-left: 10px;
    margin-right: 5px;
    padding-left: 110px;
    border-right: 2px solid rgb(126, 125, 125);
}
.card-container{
 margin-left: 30px;
 color: rgb(27, 216, 147);
}